

#topbar{
  background-color:black; ;
  color:blue;
  font-family:'Besley',serif;
  font-size:68px;
  text-align: center;
  position:fixed;
  top:0px;
 width:100%;
  height:120px;
}

body{
  margin:0;
}

#search{
  color:white;
  float: right;
  font-size:64px;
  margin:20px;
}

#list-icon{
  color:white;
  float:left;
  font-size:66px;
  margin:20px;
}

#search-bar{
  text-align: center;
  padding:10px;
  background-color: gray;
  height:150px;
  display:none;
  position:fixed;
  top:200px;
  width:100%;
  animation: search_bar 500ms;
}

#search-box{
  position:relative;
  top:25px;
  width:80%;
  height:90px;
  border-radius:30px;
  padding-left:16px;
  border:none;
  outline:none;
  font-size:32px;
  font-family: 'Besley', serif;
  animation: search_box 1s;
}

#search-icon{
  position:relative;
  right:65px;
  top:34px;
  font-size:54px;
  color:gray;
}

#close-search{
  color:white;
  float: right;
  font-size:64px;
  margin:20px;
  display:none;
}

#list-items{
font-family:'Besley',serif;
font-size:38px;
list-style-type:none;
padding:0;
  margin:0;
  color:white;
  position:absolute;
  top:120px;
  animation:list 100ms;

}

#list{
  height:100%;
  width:500px;
  background-color:black;
  position:fixed;
  top:120px;
  display:none;
  border-top:1px solid white;
  animation:list 100ms;
 
}

li{
  border-bottom:5px solid blue;
  padding:30px;
  margin:20px;
  animation:list 100ms;
  
}

#list-link{
  text-decoration:none;
  color:white;
}

@keyframes search_bar{
  0%{
    height:0px;
  }
  100%{
    height:150px;
  }
}

@keyframes search_box{
  0%{
    top:-10px;
  }
  100%{
    top:25px;
  }
}

@keyframes search_bar_mobile{
  0%{
      height:0px;
        }
          100%{
              height:50px;
                }
}

@keyframes search_box_mobile{
  0%{
      top:-10px;
        }
          100%{
              top:5px;
                }
}

@keyframes list{
  0%{
    width:0px;
  }
  100%{
    width:120px;
  }
}

#first{
  margin-top:120px;
    
}

#img{
  width:80%;
  height:400px;
  margin-bottom:24px;
  margin-left:9.5%;
margin-top:24px;
            }
#title{
  font-family: 'Besley', serif;
    font-size:34px;
  margin-left:24px;
  margin-right:24px;
}

#light{
  font-family: 'Open Sans', sans-serif;
  margin-left:24px;
  margin-right:24px;
  font-size:34px;
}

#ep-list a{
  text-decoration:none;
    color:blue;
  
}

#ep-list{
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  line-height:2.0;
  margin-left:24px;
  margin-right:24px;
  font-size:24px;
}

#tele{
  background-color:#0088cc;
color:white;
  text-align:center;
border-radius:34px;
width:80%;
height:60px;
 font-size:44px;
  margin:auto;              
 margin-bottom:64px;    margin-top:64px;
  padding:18px;
  }
#tele-icon{
  font-size:84px;
    margin-top:-15px;
      float:left;
}

#heading{
  font-size:24px;
  border-bottom:2px solid gray;
 font-family: 'Lato', sans-serif;
  background-color:black;
  color:white;
  padding:24px;
}

#para{
  font-size:12px;
  background-color:black;
  color:white;
 font-family: 'Lato', sans-serif;
  line-height:1.8;
  padding:24px;
  
}

@media screen and (max-width:600px){
  #topbar{
    height:50px;
    font-size:28px;
  }
  
  #search{
    font-size:24px;
    margin:10px;
}
  #list-icon{
    font-size:26px;
    margin:10px;
  }
  
  #close-search{
    font-size:24px;
    margin:10px;
  }
  
  #search-bar{
    height:50px;
    top:80px;
    animation:search_bar_mobile 500ms;
  }
  
  #search-box{
    height:30px;
    font-size:16px;
    border-radius:10px;
    animation: search_box_mobile 500ms;
    top:5px;
  }
  
  #search-icon{
    font-size:26px;
    right:35px;
    top:12px;
  }
  
  #list{
    width:200px;
    top:50px;
    border-top:0.5px solid white;
  }
  
  #list-items{
    font-size:14px;
    top:60px;
  }
  
  li{
    padding:15px;
    margin:10px;
    border-bottom:2px solid blue;
  }

  #first{
    margin-top:50px;
  }  
  
#img{
  height:200px;
  margin-top:12px;
  margin-bottom:12px;
}

#title{
  font-size:22px;
  margin-left:12px;
  margin-right:12px;
}
  
  #light{
    margin-left:12px;
    margin-right:12px;
    font-size:22px;
  }
  
  #ep-list{
    line-height:1.6;
    margin-left:12px;
    margin-right;12px;
    font-size:18px;
  }

 #tele{
      font-size:20px;
          height:40px;
   padding:8px;
                  border-radius:18px;
                      margin-top:24px;
                        }
  #tele-icon{
      font-size:44px;
      margin-top:0px;
      }

#heading{
  font-size:18px;
  padding:12px;
}
#para{
  font-size:14px;
  padding:12px;
  line-height:1.6;
}
}
